
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body {
   
    background-color: rgb(18, 23, 43);
    color: #fff;

}

.panel {
    margin-top: 22px;
    background-color: #ffffff;
    border:none;
    border-radius: 5px;
}

#home .panel {
    margin-top: 22px;
    background-color: rgba(83, 181, 172, 0.64);
    border:none;
    border-radius: 5px;
}

label.col-md-4.control-label {
    color: #12172b;
}
.input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child){

    background:rgba(255, 255, 255, 0)
}


.img{
    width: 100px;
    height: 100px;
}

.fixed-input{
    position: fixed;
    right: 20px;
    bottom: 100px;
    width: 30%;
    height: 220px;
    text-align: center;
    color:#fff

}

.message-textarea{
    height: 120px;
    width: 100%;
    color: #fff;
}